*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 207, 241);
}

.first{
    display: flex;
    width: 800px;
    margin: auto;
    box-shadow: 1px 5px gray;
}

.subdiv{
    background-image:linear-gradient(to right rgb(255, 70, 126) rgb(226, 54, 120)) ;
}